<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
    <style>

    </style>
</head>
<body>
<!-- m1.html  -->
<h1>Thymeleaf</h1>
<!--
    JSP : 독립 실행 불가능


    Thymeleaf : 독립 실행 가능

    1. Variable Expression, 변수 표현식
    2. Selection Variable Expression, 선택 변수 표현식
        - *{}
        - 객체/ 맵 프로퍼티를 출력한다.
        - 반복되는 객체/맵 표현을 줄여준다.
        - th:object 속성과 같이 사용한다.
    3. Message Expression, 메히지 표현식
        - #{}
        - messages.properties

    4. Link URL Expression, 링크 표현식
    5. Fragment Expression, 조각 페이지 표현식

    타임리프의 표현 대부분
    -HTML 속성 앞에 th라는 접두어를 붙이면 됨


-->
<h2>변수 표현식</h2>
<div>단일값 : ${count}</div>
<div th:text="${count}"> </div>
<hr>

<div>이름 : 홍길동</div>
<div th:text="${name}">이름 : </div>
<div th:text="'이름 : ' + ${name}">이름 : </div>
<div>이름 : <span th:text="${name}"></span></div>
<hr>

<ul>

<!--    <li th:text="${dto}"></li>-->
<!--    <li th:text="${dto.getName()}"></li>-->
<!--    <li th:text="${dto.name()}"></li>-->
<!--    <li th:text="${dto.seq()}"></li>-->
<!--    <li th:text="${dto.age()}"></li>-->
<!--    <li th:text="${dto.address()}"></li>-->
<!--    <li th:text="${dto.gender()}"></li>-->

</ul>
<hr>

<ul th:object="${dto}">

<!--        <li th:text="*{getName}"></li>-->
<!--        <li th:text="*{name}"></li>-->
<!--        <li th:text="*{seq}"></li>-->
<!--        <li th:text="*{age}"></li>-->
<!--        <li th:text="*{address}"></li>-->
<!--        <li th:text="*{gender}"></li>-->

</ul>
<hr>

<ul th:object="${map}">
    <li th:text="*{red}"></li>
    <li th:text="*{blue}"></li>
    <li th:text="*{yellow}"></li>
</ul>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://bit.ly/4cMuheh"></script>
<script>

</script>
</body>
</html>






