<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
    <style>

    </style>
</head>
<body>
<!-- m7.html -->
<h1>링크 표현식<small>쿼리 스트링</small></h1>

<div>

    <a th:href="'/list.do?seq=' + ${seq}">돌아가기</a>
    <a th:href="|/list.do?seq=${seq}|">돌아가기</a>
    <a th:href="@{/list.do(seq=${seq}, mode=${mode})}">돌아가기</a>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://bit.ly/4cMuheh"></script>
<script>

</script>
</body>
</html>






